<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>Angular Spring App</div>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a class="nav-link" href="/hello">Hello Tab</a></li>
      <li>
        <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
      </li>
    </ul>
  </nav>
</header>
